/*

LOAD FONTS:
Befolk,
Bebas Neue

*/

@font-face {
  /*
  Credits completely go to
  https://www.behance.net/hendra_maulia

  */
  font-family: Befolk;
  src: url(fonts/BefolkScript.ttf);
}

@font-face {
  /*
  Credits completely go to
  https://www.behance.net/hendra_maulia

  */
  font-family: Bebas Neue;
  src: url(fonts/BebasNeueRegular.otf);
}

h1.lg{
  display:inline;
  float:left;
  font-family: Befolk;
  font-size: 62px;
}

h1{
  font-family: Befolk;
  font-size: 50px;
}

h2{
  font-family: Bebas Neue;
  font-size: 20px;
}


html.start{
  overflow-y: hidden !important;
}

body.gradient{
    background: red;
    background: -webkit-linear-gradient(#91A8D0, #F7CAC9);
    background: -o-linear-gradient(#91A8D0, #F7CAC9);
    background: -moz-linear-gradient(#91A8D0, #F7CAC9);
    background: linear-gradient(#91A8D0, #F7CAC9);
    /*overflow-y: hidden;*/
}

/*

  CUSTOMIZED CSS FOR NAV BAR

*/
.navbar{
  /*margin-left: 230px !important;*/
  /*position:fixed !important;*/
  background-color: transparent !important;
}

.nav-svg{
  width: 200px !important;
}

.navbar-menu{
  /*position: fixed*/
  margin-top: 1.5rem;
  /*margin: 0px 30px 0px -30px !important;*/
}

/*

  NAV BAR ICONS CSS

*/

.menu-list a:hover{
  background-color: transparent !important;
}

.navLogos{
  width: 50px;
  height: 40px;
  margin: .5rem 1rem;
}

/*#laptopGirl svg path{
  fill: #fff;
}*/

p{
  font-size:50px;
  line-height: 3rem;
  font-family: 'Raleway', sans-serif;
}

svg:hover #glowLeft, svg:hover  #glowRight{
  stroke: white;
  filter: url(#blur-filter);
}

#JL{
  display: none;
  filter: url(#blur-filter);
}

#JL svg:hover path{
  stroke-width: 7px;
}


.fade-hide{
  position:absolute;
  opacity: 0;
  visibility: hidden;
}

.fade-show{
  position:static;
  visibility: visible;
  opacity: 1;
}

/*

  ABOUT SECTION CSS STARTS HERE

*/
#aboutInfo{
  /*height:85vh;*/
  background-color: white;
  height:100vh;
  padding: 20px;
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

#aboutCover{
  height: 100vh;
   -vendor-animation-delay: 2s;
  background-image: url(img/about-pic.jpg);
  background-position: left center;
  background-repeat: no-repeat;
}

/*

  SCHOOL SECTION CSS STARTS HERE

*/
#schoolInfo{
  /*height:85vh;*/
  background-color: white;
  height:100vh;
  padding: 20px;
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

#schoolCover{
  height: 100vh;
   -vendor-animation-delay: 2s;
  background-image: url(img/switches.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

/*

  WORK SECTION CSS STARTS HERE

*/
#workInfo{
  /*height:85vh;*/
  background-color: white;
  height:100vh;
  padding: 20px;
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

#workCover{
  height: 100vh;
   -vendor-animation-delay: 2s;
  background-image: url(img/jacofhearts.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/*

   ACTIVITY SECTION CSS STARTS HERE

*/
#activityInfo{
  /*height:85vh;*/
  background-color: white;
  height:100vh;
  padding: 20px;
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

#activityCover{
  height: 100vh;
   -vendor-animation-delay: 2s;
  background-image: url(img/moodwave.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/*

   BOOK SECTION CSS STARTS HERE

*/
#bookInfo{
  /*height:85vh;*/
  background-color: white;
  height:100vh;
  padding: 20px;
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

#bookCover{
  height: 100vh;
   -vendor-animation-delay: 2s;
  background-image: url(img/ADrunkInTheWoods.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/*

   CONTACT SECTION CSS STARTS HERE

*/
#contactInfo{
  /*height:85vh;*/
  background-color: white;
  height:100vh;
  padding: 20px;
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

#contactCover{
  height: 100vh;
   -vendor-animation-delay: 2s;
  background-image: url(img/selftiles.png);
  background-position: center center;
  background-repeat: no-repeat;
}
