body{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#91A8D0, #F7CAC9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#91A8D0, #F7CAC9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#91A8D0, #F7CAC9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#91A8D0, #F7CAC9); /* Standard syntax */
    overflow: hidden;
}

svg:hover #glowLeft, svg:hover  #glowRight{
  stroke: white;
  filter: url(#blur-filter);
}

#JL{
  display: none;
  filter: url(#blur-filter);
}

#JL svg:hover   path{
  stroke-width: 5.5px;
}

#about-SVG{
  display: none;
}
